<body>
    <h1>How to install the Lynx/Lune/Luau Development Environment</h1>
    <a href="/">← go back</a>
    <p>You need to install Lune (regular version), get set up with Luau LSP, and `git submodule add` lynx from its repo to get started.</p>
    <div>
        <h2>Dependencies</h2>
        <ul>
            <li>
                <div>
                    <h3>Lune Runtime</h3>
                    <p>The Lune runtime allows you to run Luau as a general purpose programming language, giving you access to filesystem, net, process (executing applications/shell commands), and other apis</p>
                    <ul>
                        <li><a href="https://github.com/lune-org/lune">Lune</a></li>
                        <li><a href="https://lune-org.github.io/docs">Lune docs</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <h3>Luau Language Server (LSP)</h3>
                    <p>Gives you VSCode syntax highlighting for Luau, autocomplete, type information, etc. You should be able to install it from the VSCode Extensions marketplace</p>
                    <ul>
                        <li><a href="https://github.com/JohnnyMorganz/luau-lsp">Luau LSP</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <h3>Lynx</h3>
                    <p>Minimal webapp wrapper for Luau/Lune</p>
                    <ul>
                        <li><a href="https://lynx.land/">Lynx docs</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>