<body>
    <h1>Hello there this is the root for my Lynx Website</h1>

    <h2>Some quick advantages to using Luau with Lune:</h2>
    <ul>
        <li>It's really cool and lightweight</li>
        <li>It's a very fast language and very understandable with fewer undefined behaviors than JS</li>
        <li>strong typing support with --!strict which means really good autocomplete and inline editor documentation</li>
    </ul>
    
    <h2><a href="install">Quick Setup Guide</a> </h2>
</body>

